<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.13.0/css/all.min.css"
    />
  </head>
  <body>
    <main class="wrapper">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <div class="logo">
        <img src="/images/proud-coder.svg" alt="Coder" />
      </div>
      <div class="url-shortner">
        <div class="shortner-input">
            <input name="longURL" type="text" placeholder="Enter Link here" />
            <button type="submit" class="shorten-button">Shorten</button>
        </div>
        <div class="short-url">
          <a href="#">https://google.com</span>
        </div>
      </div>
    </main>
    <footer>
      <p>Made With ❤️ By <b>Akash Chhabra</p></footer>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
